@model CarLab.Models.CommonEntities.BasicDataModel
@using Newtonsoft.Json
@using CarLab.Models.DbEntities

@{
    ViewData["Title"] = "menu";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


@{
    List<Products> userProducts = new List<Products>();
    var UserCart = sessonContext.HttpContext.Session.GetString("UserCart");
    if (!String.IsNullOrEmpty(UserCart))
    {
        userProducts = JsonConvert.DeserializeObject<List<Products>>(UserCart);
    }

    int TotalItems = userProducts == null || userProducts.Count < 1 ? 0 : userProducts.Count;
    decimal TotalAmount = userProducts == null || userProducts.Count < 1 ? 0 : userProducts.Sum(s => s.Price);
}


@{
    Users CustomerUser = new Users();

    var CustomerUserJson = sessonContext.HttpContext.Session.GetString("CustomerUser");
    if (!String.IsNullOrEmpty(CustomerUserJson))
    {
        CustomerUser = JsonConvert.DeserializeObject<Users>(CustomerUserJson);
    }

    CustomerUser = CustomerUser == null || CustomerUser.UserID < 1 ? new Users() : CustomerUser;

}




<!-- Page Title
    ============================================= -->
<section id="page-title">

    <div class="container">
        <h1>Cart</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">




            <table class="table cart mb-5">
                <thead>
                    <tr>
                        <th class="cart-product-remove">&nbsp;</th>
                        <th class="cart-product-thumbnail">&nbsp;</th>
                        <th class="cart-product-name">Cars</th>
                        <th class="cart-product-price">Price</th>


                    </tr>
                </thead>
                <tbody id="orders_table_body">

                    @{
                        if (userProducts != null && userProducts.Count > 0)
                        {
                            foreach (var item in userProducts)
                            {
                                <tr class="cart_item">
                                    <td class="cart-product-remove">
                                        <a href="#!" onclick="RemoveItem('@item.ProductID')" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
                                    </td>

                                    <td class="cart-product-thumbnail">
                                        <a href="#">



                                            @{
                                                if (item.ProductImage != null)
                                                {
                                                    string bitString = BitConverter.ToString(item.ProductImage);
                                                    if (bitString == "00" || bitString == "")
                                                    {
                                                        <img width="64" height="64" src="images/shop/thumbs/small/dress-3.jpg" alt="Pink Printed Dress">
                                                    }
                                                    else
                                                    {
                                                        string imageBase64Data = Convert.ToBase64String(item.ProductImage);
                                                        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                                        <img width="64" height="64" src="@imageDataURL" alt="Pink Printed Dress">
                                                    }
                                                }
                                                else
                                                {
                                                    <img width="64" height="64" src="images/shop/thumbs/small/dress-3.jpg" alt="Pink Printed Dress">
                                                }
                                            }


                                        </a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="#">@item.ProductName</a>
                                    </td>

                                    <td class="cart-product-price">
                                        <span class="amount">$ @item.Price</span>
                                    </td>




                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="cart_item">
                                <td class="text-center" colspan="50"><b>Empty Cart</b></td>
                            </tr>
                        }
                    }

                 

                </tbody>

            </table>

            <div class="row col-mb-30">
                <div class="col-lg-6">
                    <h4>Customer Info</h4>
                    <form class="row" id="data-insert-common-form">

                        <div class="col-6 form-group">
                            <input type="text" class="sm-form-control" placeholder="Full Name" id="CustomerFullName" value="@CustomerUser.FullName" required />
                            <input type="hidden" class="sm-form-control"  id="CustomerID" id="CustomerID" value="@CustomerUser.UserID" />
                        </div>

                        <div class="col-6 form-group">
                            <input type="email" class="sm-form-control" placeholder="Email" id="CustomerEmail" value="@CustomerUser.EmailAddress" required />
                        </div>

                        <div class="col-6 form-group">
                            <input type="text" class="sm-form-control" placeholder="Phone" id="CustomerPhone" value="@CustomerUser.Phone" required />
                        </div>

                        <div class="col-6 form-group">
                            <input type="text" class="sm-form-control" placeholder="Address" id="CustomerAddress" value="@CustomerUser.Address1" required />
                        </div>

                        <div class="col-6 form-group">
                            <button type="button" onclick="PlaceOrder();" class="button button-3d mt-2 mt-sm-0 me-0">Place Order</button>
                        </div>
                        <div class="col-6 form-group">


                            <div id="order_confirm_div" style="display:none; background: #3fff00; color: black; padding: 4px 10px;text-align: center; border-radius: 5px;">

                                <a> Your order no is: &nbsp; &nbsp; <lable id="order_no_html"></lable></a>
                                <a href="#!" onclick="PrintOrder()" class="button button-3d button-rounded button-aqua" style="margin-left:10px;"><i class="icon-print"></i>Print</a>
                            </div>


                        </div>



                    </form>
                </div>

                <div class="col-lg-6">
                    <h4>Cart Totals</h4>

                    <div class="table-responsive">
                        <table class="table cart cart-totals">
                            <tbody>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>Total Items</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount">@TotalItems</span>
                                    </td>
                                </tr>
                              @*  <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>Shipping</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount">Free Delivery</span>
                                    </td>
                                </tr>*@
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>Total</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount color lead"><strong>$ @TotalAmount</strong></span>
                                    </td>
                                </tr>



                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- #content end -->
@section  Scripts{

<script>


           $(document).ready(function() {
            //createDataTable('table_listing_data', true);
          });









     function RemoveItem(ProductID){
          if(!checkIfStringIsEmtpy(ProductID) || ProductID==0){

                          toastr.error('Incorrect product id!');
                          return false;
                    }


                     let searchFormData = {
                   ProductID: ProductID,

               }

                    var Url = '@Url.Action("RemoveItem", "CustomerHome")';

                  $.ajax({
                      type: "GET",
                      url: Url,

                      data: searchFormData,
                      // datatype: "json",
                      cache: false,
                      async: false,

                      success: function (data) {

                          if(data.success){
                                toastr.success(data.message);
                               window.location.reload();
                          }else{
                               toastr.warning(data.message);
                          }




                      },
                      error: function (xhr, ajaxOptions, thrownError) {
                            toastr.error('An error occured. Please try again!');

                      }
                  })
    }

    function PlaceOrder(){
        
          $("#data-insert-common-form").submit(function (e) {
                   e.preventDefault();
               });

               if (!$("#data-insert-common-form").valid()) {
                    event.preventDefault();
                   return false;
               }






                 let CustomerID = $("#CustomerID").val();
                 let CustomerFullName = $("#CustomerFullName").val();
               let CustomerEmail=$("#CustomerEmail").val();
               let CustomerPhone=$("#CustomerPhone").val();
               let CustomerAddress=$("#CustomerAddress").val();


               if(!checkIfStringIsEmtpy(CustomerID)){
                    toastr.error('Customer ID is null');
                   return false;
               }

               if(!checkIfStringIsEmtpy(CustomerFullName) || !checkIfStringIsEmtpy(CustomerEmail) || !checkIfStringIsEmtpy(CustomerPhone) || !checkIfStringIsEmtpy(CustomerAddress)){
                   toastr.error('Please fill all required fields.');
                   return false;
               }

                var formDate = {
                    CustomerID: CustomerID,
                    CustomerFullName: CustomerFullName,
                    CustomerEmail: CustomerEmail,
                    CustomerPhone: CustomerPhone,
                    CustomerAddress: CustomerAddress
                }

                   let saveUrl = "@Url.Action("PlaceOrder", "CustomerHome")";
                 $.ajax({
                       type: "POST",
                       url: saveUrl,
                       data: formDate,
                       // datatype: "json",
                       cache: false,
                       async: false,

                       success: function (data) {
                            console.log(data);
                            if (data.success) {
                            toastr.success(data.message);
                            setTimeout(function () {

                                //--emty the cart in header
                                
                                  $('.top-cart-number').html('0');

                               $('#order_no_html').html(data.orderdetail.orderID);
                               $('#order_confirm_div').css("display" , "flex");

                            }, 500);
                            } else {

                            toastr.error(data.message);
                            }

                       },
                       error: function (xhr, ajaxOptions, thrownError) {
                         toastr.error('An error occured. Please try again!');
                       }
                   })
    }


    function PrintOrder(){
        window.print();
    }

</script>
}


