@model CarLab.Models.CommonEntities.BasicDataModel
@{
    ViewData["Title"] = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int TotalProducts = 0; ;
    int TotalOrders = 0;
    int TotalCustomerQueries = 0;
    int TotalCategories = 0;
    int TotalMakes = 0;
    int TotalModels = 0;


    if (Model != null && Model.DashboardDataObj != null)
    {
        TotalProducts = Model.DashboardDataObj.TotalProducts;
        TotalOrders = Model.DashboardDataObj.TotalOrders;
        TotalCustomerQueries = Model.DashboardDataObj.TotalCustomerQueries;
        TotalCategories = Model.DashboardDataObj.TotalCategories;
        TotalMakes = Model.DashboardDataObj.TotalMakes;
        TotalModels = Model.DashboardDataObj.TotalModels;

    }

    int activeOrders = 0;
    int inprogressOrdes = 0;
    int completedOrders = 0;
    if (Model != null && Model.DashboardDataOrderStatusList != null && Model.DashboardDataOrderStatusList.Count > 0)
    {
        try
        {
            activeOrders = (int)Model.DashboardDataOrderStatusList.Where(s => s.StatusID == 1 || s.StatusName == "Active").FirstOrDefault().StatusID;
            inprogressOrdes = (int)Model.DashboardDataOrderStatusList.Where(s => s.StatusID == 2 || s.StatusName == "In Progress").FirstOrDefault().StatusID;
            completedOrders = (int)Model.DashboardDataOrderStatusList.Where(s => s.StatusID == 3 || s.StatusName == "Completed").FirstOrDefault().StatusID;
        }
        catch
        {

        }


    }
}

<div class="row">
    <div class="col-lg-5 col-md-5">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            @{
                string BreadCrumTitle = String.IsNullOrWhiteSpace(ViewBag.BreadCrumTitle) ? "Main" : ViewBag.BreadCrumTitle;
                string BreadCrumSubTitle = String.IsNullOrWhiteSpace(ViewBag.BreadCrumSubTitle) ? "List" : ViewBag.BreadCrumSubTitle;
            }
            <h3>Admin Dashboard</h3>
            <ul>
                <li>
                    <a href="#">@BreadCrumTitle</a>
                </li>
                <li>@BreadCrumSubTitle</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
    </div>



</div>


<!-- Dashboard summery Start Here -->
<div class="row gutters-20">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="item-icon bg-light-green ">
                        <i class="flaticon-shopping-list text-green"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Total Orders</div>
                        <div class="item-number"><span class="counter" data-num="@TotalOrders">@TotalOrders</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="item-icon bg-light-blue">
                        <i class="flaticon-magnifying-glass text-blue"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Total Cars</div>
                        <div class="item-number"><span class="counter" data-num="@TotalProducts">@TotalProducts</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="item-icon bg-light-yellow">
                        <i class="flaticon-couple text-orange"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Customer Queries</div>
                        <div class="item-number"><span class="counter" data-num="@TotalCustomerQueries">@TotalCustomerQueries</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="item-icon bg-light-red">
                        <i class="flaticon-money text-red"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Total Makes</div>
                        <div class="item-number"><span class="counter" data-num="@TotalMakes">@TotalMakes</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row gutters-20">
    <div class="col-lg-12 col-xl-12">
        <div class="card dashboard-card-six pd-b-20">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Order Statuses</h3>
                    </div>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="notice-box-wrap">
                    <div class="notice-list">
                        <div class="post-date bg-skyblue">Active</div>
                        <h6 class="notice-title">
                            <a href="#">
                                @activeOrders
                            </a>
                        </h6>


                    </div>
                    <div class="notice-list">
                        <div class="post-date bg-yellow">In Progress</div>
                        <h6 class="notice-title">
                            <a href="#">
                                @inprogressOrdes
                            </a>
                        </h6>

                    </div>
                    <div class="notice-list">
                        <div class="post-date bg-pink">Completed</div>
                        <h6 class="notice-title">
                            <a href="#">
                                @completedOrders
                            </a>
                        </h6>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Dashboard summery End Here -->
@section  Scripts{



}