@using Newtonsoft.Json
@using CarLab.Models.DbEntities


@{
    Users CustomerUser = new Users();

    var CustomerUserJson = sessonContext.HttpContext.Session.GetString("CustomerUser");
    if (!String.IsNullOrEmpty(CustomerUserJson))
    {
        CustomerUser = JsonConvert.DeserializeObject<Users>(CustomerUserJson);
    }

    CustomerUser = CustomerUser == null || CustomerUser.UserID < 1 ? new Users() : CustomerUser;

}


<footer id="footer" class="dark border-0" style="background-color: #080808;">
			<div class="container-fluid px-5 clearfix">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50 justify-content-between">
						<div class="col-lg-7">

							<div class="row col-mb-30">
								<div class="col-6 col-lg-6 col-md-6">
									<div class="widget widget_links widget-li-noicon">
										<h4>Menus</h4>
										<ul>
											<li><a href="@Url.Action("Index","CustomerHome")">Home</a></li>
											<li><a href="@Url.Action("CarsList","CustomerHome")">Car Listing</a></li>
											<li><a href="@Url.Action("AboutUs","CustomerHome")">About Us</a></li>
											<li><a href="@Url.Action("ContactUs","CustomerHome")">Contacts Us</a></li>
										</ul>
									</div>
								</div>
							
								<div class="col-6 col-lg-6 col-md-6">
									<div class="widget widget_links widget-li-noicon">
										<h4>Account</h4>
										<ul>
										
											@{
											if (CustomerUser != null && CustomerUser.UserID > 0)
											{
												
												<li><a href="@Url.Action("LogoutCustomer","CustomerAuthentication")">Logout</a></li>
											}
											else
											{
												
												<li><a href="@Url.Action("LoginRegisterAccount","CustomerAuthentication")">Login</a></li>
											}

											if (CustomerUser != null && CustomerUser.UserID > 0)
											{
												
													<li><a href="@Url.Action("CarsCustomerBookingList","CustomerHome" , new {CustomerID=CustomerUser.UserID})">Bookings</a></li>
											}
											}



										</ul>
									</div>
								</div>
							
							</div>

						</div>

						<div class="col-lg-5 text-center text-lg-end">
							<img src="~/themeContent/customer/demos/car/images/logo-footer.png" alt="Image" height="50">
							<br>
							<div style="color: #444">
								<span>&copy; Noor Tech Sol. All Rights Reserved.</span>
								<div class="clear"></div>
							
							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>
		</footer>