@model CarLab.Models.CommonEntities.BasicDataModel

<table class="table display text-nowrap" id="table_listing_data">
    <thead>
        <tr>

            <th class="no-sort">CarID</th>
            <th class="no-sort"> Name</th>
      
            <th class="no-sort">Price ($)</th>

            <th class="no-sort">Make</th>
            <th class="no-sort">Model</th>
            <th class="no-sort">Color</th>
            <th class="no-sort">IsActive</th>
            <th class="no-sort">Show On Home Page</th>
            <th class="no-sort">DisplaySeqNo</th>
            <th class="no-sort">Product Image</th>
            <th class="no-sort">Created On</th>
            <th class="no-sort">Action</th>
        </tr>
    </thead>
    <tbody>


        @{
            if (Model != null && Model.productsList != null && Model.productsList.Count > 0)
            {
                foreach (var item in Model.productsList)
                {
                    <tr>

                        <td>@item.ProductID</td>
                        <td>@item.ProductName</td>
                     
                        <td>@item.Price</td>
                        <td>@item.MakeName</td>
                        <td>@item.ModelName</td>
                        <td>@item.ColorName</td>




                        @{
                            if (item.IsActive)
                            {
                                <td class="badge badge-pill badge-success d-block mg-t-8">Active</td>

                            }
                            else
                            {

                                <td class="badge badge-pill badge-danger d-block mg-t-8">In Active</td>
                            }
                        }



                        <td>@item.ShowOnHomePage</td>
                        <td>@item.DisplaySeqNo</td>


                        @{
                            if (item.ProductImage != null)
                            {
                                string bitString = BitConverter.ToString(item.ProductImage);


                                if (bitString == "00" || bitString=="")
                                {
                                    <td>No Image</td>
                                }
                                else
                                {
                                    string imageBase64Data = Convert.ToBase64String(item.ProductImage);
                                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);


                                    <td>
                                        <div id="profile-pic-show-div">
                                        <a href="@imageDataURL" target="_blank"> <img style="border-radius: 10%; height:50px !important; width: 50px !important;" class="img-fluid m-1" src="@imageDataURL"></a>
                                           
                                        </div>
                                    </td>
                                }



                            }
                            else
                            {
                                <td>No Image</td>
                            }
                        }





                        <td>@item.CreatedOn</td>


                        <td>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="flaticon-more-button-of-three-dots"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a class="dropdown-item" href="@Url.Action("ProductUpdate","AdminProducts" , new {ProductID=item.ProductID})"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>



                                </div>
                            </div>
                        </td>
                    </tr>

                }
            }
        }


    </tbody>
</table>


