@model CarLab.Models.CommonEntities.BasicDataModel

@{
    ViewData["Title"] = "Orders List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-5 col-md-5">
        <!-- Breadcubs Area Start Here -->
        <partial name="~/Views/Shared/_Breadcrumbs.cshtml" />
        <!-- Breadcubs Area End Here -->
    </div>

    <div class="col-lg-7 col-md-7 text-right">


     @*   <div class="breadcrumbs-area">
            <a href="@Url.Action("ProductInsert","AdminProducts")" class="btn-fill-lmd radius-30 text-light shadow-dodger-blue bg-dodger-blue">Add New</a>

        </div>*@


    </div>

</div>


<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Orders List</h3>
            </div>
            <div class="dropdown">
            </div>
        </div>

        <div>

            <form class="mg-b-20" id="search-form">
                <div class="row gutters-8">
                    <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="number" placeholder="Search by order id ..." id="OrderID" class="form-control">
                    </div>

                    <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by customer email ..." id="CustomerEmail" class="form-control">
                    </div>
                    <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <select id="StatusID" name="StatusID" class="form-control">
                            <option value="">search by status</option>
                            @{
                                if (Model != null && Model.statusesList != null && Model.statusesList.Count > 0)
                                {
                                    foreach (var item in Model.statusesList)
                                    {
                                        <option value="@item.StatusID">@item.StatusName</option>
                                    }
                                }

                            }

                        </select>
                    </div>


                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="button" onclick="searchFilter();" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>


                </div>
            </form>
        </div>



        <!-- Grid listing starts here -->
        <div class="table-responsive" id="data_listing_grid">
            @await Html.PartialAsync("~/Views/AdminProducts/_OrdersListPartial.cshtml", Model)
        </div>
        <!-- Grid listing ends here -->

    </div>
</div>

<!-- edit status modal -->
<div class="ui-modal-box">
    <div class="modal-box">
        <div class="modal sign-up-modal fade" id="edit_data_modal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="close-btn">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="item-logo">
                            <h3>Update Status</h3>
                        </div>
                        <form class="login-form" id="data-edit-common-form">
                            <div class="row gutters-15">
                                <div class="form-group col-12">
                                    <label for="StatusIDStatus">Status</label>
                                    <select id="StatusIDStatus" name="StatusIDStatus" class="form-control" required>
                                    
                                        @{
                                            if (Model != null && Model.statusesList != null && Model.statusesList.Count > 0)
                                            {
                                                foreach (var item in Model.statusesList)
                                                {
                                                    <option value="@item.StatusID">@item.StatusName</option>
                                                }
                                            }

                                        }

                                    </select>
                                    <input type="hidden" id="OrderIDStatus" name="OrderIDStatus">
                                </div>

                                <div class="form-group col-12">
                                    <button type="button" class="login-btn" onclick="UpdateStatus();">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section  Scripts{

<script>


              $(document).ready(function() {
               createDataTable('table_listing_data', true);
             });


                   function searchFilter() {

                     let OrderID = $("#OrderID").val();
                     let CustomerEmail=$("#CustomerEmail").val();
                     let StatusID=$("#StatusID").val();


                        let searchFormData = {
                      OrderID: OrderID,
                      CustomerEmail: CustomerEmail,
                      StatusID: StatusID

                  }

                       var Url = '@Url.Action("OrdersList", "AdminProducts")';

                     $.ajax({
                         type: "GET",
                         url: Url,

                         data: searchFormData,
                         // datatype: "json",
                         cache: false,
                         async: false,

                         success: function (data) {

                              destroyDataTable('table_listing_data');

                             $('#data_listing_grid').html(data);

                                createDataTable('table_listing_data', true);

                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                               toastr.error('An error occured. Please try again!');

                         }
                     })
                 }




    function showOderStatusModal(OrderID) {

          $('#OrderIDStatus').val(OrderID);

          $('#edit_data_modal').modal('show');

      }


       function UpdateStatus(){

              $("#data-edit-common-form").submit(function (e) {
                   e.preventDefault();
               });

               if (!$("#data-edit-common-form").valid()) {
                    event.preventDefault();
                   return false;
               }
               


               let StatusID = $("#StatusIDStatus").val();
               let OrderID=$("#OrderIDStatus").val();
             
               if(!checkIfStringIsEmtpy(StatusID) || !checkIfStringIsEmtpy(OrderID)){
                   toastr.error('Please fill all required fields.');
                   return false;
               }


                //--make form data
                var formDate = {
                    StatusID: StatusID,
                    OrderID: OrderID,
                 
                }

                let saveUrl = "@Url.Action("ChangeOrderStatus", "AdminProducts")";
                 $.ajax({
                       type: "POST",
                       url: saveUrl,
                       data: formDate,
                       // datatype: "json",
                       cache: false,
                       async: false,

                       success: function (data) {
                            console.log(data);
                            if (data.success) {
                            toastr.success('Saved Successfully!');
                            setTimeout(function () {
                                $('#search-form').trigger("reset");
                                $('#data-edit-common-form').trigger("reset");
                                $('#edit_data_modal').modal('hide');
                                searchFilter();
                            }, 500);
                            } else {

                            toastr.error(data.message);
                            }

                       },
                       error: function (xhr, ajaxOptions, thrownError) {
                         toastr.error('An error occured. Please try again!');
                       }
                   })

        }

</script>
}