@model CarLab.Models.CommonEntities.BasicDataModel

@{
    ViewData["Title"] = "Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var orderDetail =Model!=null && Model.ordersList!=null ?  Model.ordersList.FirstOrDefault() : new CarLab.Models.DbEntities.Orders();
}


<div class="row">
    <div class="col-lg-5 col-md-5">
        <!-- Breadcubs Area Start Here -->
        <partial name="~/Views/Shared/_Breadcrumbs.cshtml" />
        <!-- Breadcubs Area End Here -->
    </div>

   <div class="col-lg-7 col-md-7 text-right">

       
        <div class="breadcrumbs-area">
            <a href="@Url.Action("OrdersList", "AdminProducts")" class="btn-fill-lmd radius-30 text-light shadow-true-v bg-true-v">Back To List</a>
        </div>
      

    </div>

</div>


<div class="card height-auto">
    <div class="card-body">
        <div>
            <form class="mg-b-20" id="search-form">
                <div class="row gutters-8">
                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="OrderID">Order ID</label>
                        <input type="number" id="OrderID" name="OrderID" class="form-control" readonly value="@(orderDetail==null? 0 : orderDetail.OrderID)"/>
                    </div>
                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="name">Customer Name</label>
                        <input type="text" id="name" name="name" class="form-control" readonly value="@(orderDetail==null? "" : orderDetail.CustomerFullName)"/>
                    </div>
                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="email">Email Address</label>
                        <input type="text" id="email" name="email" class="form-control" readonly value="@(orderDetail==null? "" : orderDetail.CustomerEmail)"/>
                    </div>


                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" class="form-control" readonly value="@(orderDetail==null? "" : orderDetail.CustomerPhone)"/>
                    </div>

                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="address">Delivery Address</label>
                        <input type="text" id="address" name="address" class="form-control" readonly value="@(orderDetail==null? "" : orderDetail.CustomerAddress)"/>
                    </div>

                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                        <label for="Total">Total Amount ($)</label>
                        @{
                            if(orderDetail!=null){
                                 <input type="text" id="Total" class="form-control" name="Total" readonly value="@orderDetail.TotalAmount"/>
                            }
                            else
                            {
                                 <input type="text" id="Total" class="form-control" name="Total" readonly value=""/>
                            }
                        }
                       
                    </div>


                </div>
            </form>
        </div>



    </div>
</div>


<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Order Detail</h3>
            </div>
            <div class="dropdown">
                @*  <a class="dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>*@
            </div>
        </div>


        <!-- Grid listing starts here -->
        <div class="table-responsive" id="data_listing_grid">
            @await Html.PartialAsync("~/Views/AdminProducts/_OrderDetailPartial.cshtml", Model)
        </div>
        <!-- Grid listing ends here -->

    </div>
</div>
