@model CarLab.Models.CommonEntities.BasicDataModel

@{
    ViewData["Title"] = "Update Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{


    List<SelectListItem> ProductStatus = new List<SelectListItem>();
    ProductStatus.Add(new SelectListItem { Value = "true", Text = "Active" });
    ProductStatus.Add(new SelectListItem { Value = "false", Text = "In Active" });

    List<SelectListItem> ShowOnHomePage = new List<SelectListItem>();
    ShowOnHomePage.Add(new SelectListItem { Value = "true", Text = "Yes" });
    ShowOnHomePage.Add(new SelectListItem { Value = "false", Text = "No" });


}

<div class="row">
    <div class="col-lg-5 col-md-5">
        <!-- Breadcubs Area Start Here -->
        <partial name="~/Views/Shared/_Breadcrumbs.cshtml" />
        <!-- Breadcubs Area End Here -->
    </div>

    <div class="col-lg-7 col-md-7 text-right">

        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <a href="@Url.Action("ProductsList", "AdminProducts")" class="btn-fill-lmd radius-30 text-light shadow-true-v bg-true-v">Back To List</a>
        </div>
        <!-- Breadcubs Area End Here -->

    </div>

</div>


@{
    if (TempData["ErrorMsg"] != null)
    {


        <div class="card height-auto">
                    <div class="card-body">

                        <div class="ui-alart-box">
                            <div class="icon-color-alart">



                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMsg"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
        </div>
    }
}




<form id="update_data_modal" class="new-added-form" method="post" asp-area="" asp-controller="AdminProducts" asp-action="ProductUpdate" enctype="multipart/form-data">
    <div class="card height-auto">



        <div class="card-body mt-2">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Car Info</h3>
                </div>
                <div class="dropdown">
                </div>
            </div>


            <div class="row">


                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="ProductName">Car Name</label>
                    <input type="text" placeholder="Product’s name" class="form-control" id="ProductName" name="ProductName" value="@(Model!=null && Model.productsObj!=null ? Model.productsObj.ProductName : "")" autocomplete="off" required>
                </div>

                <input type="hidden" id="ProductID" name="ProductID" value="@(Model!=null && Model.productsObj!=null ? Model.productsObj.ProductID : 0)" />

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="ProductYear">Car Year</label>
                    <input type="text" placeholder="Car Year" class="form-control" id="ProductYear" name="ProductYear" value="@(Model!=null && Model.productsObj!=null ? Model.productsObj.ProductYear : "")" autocomplete="off" required>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="MakeID">Make </label>

                    <select id="MakeID" name="MakeID" class="form-control" onchange="GetModelByMakeID();" required>
                        <option>Select Make</option>
                        @{
                            if (Model != null && Model.MakesList != null && Model.MakesList.Count > 0)
                            {
                                foreach (var item in Model.MakesList)
                                {
                                    if (Model != null && Model.productsObj != null && Model.productsObj.MakeID == item.MakeID)
                                    {
                                                        <option value="@item.MakeID" selected>@item.MakeName</option>
                                    }
                                    else
                                    {
                                                         <option value="@item.MakeID">@item.MakeName</option>
                                    }

                                }
                            }

                        }

                    </select>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="ModelID">Model </label>

                    <select id="ModelID" name="ModelID" class="form-control">
                        <option>Select Model</option>
                        @{
                            if (Model != null && Model.ModelsList != null && Model.ModelsList.Count > 0)
                            {
                                foreach (var item in Model.ModelsList)
                                {
                                    if (Model != null && Model.productsObj != null && Model.productsObj.ModelID == item.ModelID)
                                    {
                                                        <option value="@item.ModelID" selected>@item.ModelName</option>
                                    }
                                    else
                                    {
                                                         <option value="@item.ModelID">@item.ModelName</option>
                                    }

                                }
                            }

                        }

                    </select>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="ColorID">Colors </label>

                    <select id="ColorID" name="ColorID" class="form-control" required>

                        @{
                            if (Model != null && Model.ColorsList != null && Model.ColorsList.Count > 0)
                            {
                                foreach (var item in Model.ColorsList)
                                {


                                    if (Model != null && Model.productsObj != null && Model.productsObj.ColorID == item.ColorID)
                                    {
                                                         <option value="@item.ColorID" selected>@item.ColorName</option>
                                    }
                                    else
                                    {
                                                         <option value="@item.ColorID">@item.ColorName</option>
                                    }
                                }
                            }

                        }

                    </select>

                </div>




                                <!--new fields addition start here-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="LocationID">Location </label>

                    <select id="LocationID" name="LocationID" class="form-control" required>

                        @{
                            if (Model != null && Model.CarsLocationsList != null && Model.CarsLocationsList.Count > 0)
                            {
                                foreach (var item in Model.CarsLocationsList)
                                {

                                    if (Model != null && Model.productsObj != null && Model.productsObj.LocationID == item.LocationID)
                                    {
                                                          <option value="@item.LocationID" selected>@item.LocationName</option>
                                    }
                                    else
                                    {
                                                         <option value="@item.LocationID">@item.LocationName</option>
                                    }
                                }
                            }

                        }

                    </select>

                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="EnginePowerID">Engine Power </label>

                    <select id="EnginePowerID" name="EnginePowerID" class="form-control" required>

                        @{
                            if (Model != null && Model.EngineTypesList != null && Model.EngineTypesList.Count > 0)
                            {
                                foreach (var item in Model.EngineTypesList)
                                {


                                    if (Model != null && Model.productsObj != null && Model.productsObj.EnginePowerID == item.EnginePowerID)
                                    {

                                                            <option value="@item.EnginePowerID" selected>@item.EngineType</option>
                                    }
                                    else
                                    {
                                                         <option value="@item.EnginePowerID">@item.EngineType</option>
                                    }


                                }
                            }

                        }

                    </select>

                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="SeatNumberID">Total Seats </label>

                    <select id="SeatNumberID" name="SeatNumberID" class="form-control" required>

                        @{
                            if (Model != null && Model.TotalSeatsList != null && Model.TotalSeatsList.Count > 0)
                            {
                                foreach (var item in Model.TotalSeatsList)
                                {
                                    if (Model != null && Model.productsObj != null && Model.productsObj.SeatNumberID == item.SeatNumberID)
                                    {

                                             <option value="@item.SeatNumberID" selected>@item.SeatNumberID</option>
                                    }
                                    else
                                    {
                                            <option value="@item.SeatNumberID">@item.SeatNumberID</option>
                                    }

                                             
                                }
                            }

                        }

                    </select>

                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="FuelTypeID">Fuel Type </label>

                    <select id="FuelTypeID" name="FuelTypeID" class="form-control" required>

                        @{
                            if (Model != null && Model.FuelTypesList != null && Model.FuelTypesList.Count > 0)
                            {
                                foreach (var item in Model.FuelTypesList)
                                {
                                            

                                                  if (Model != null && Model.productsObj != null && Model.productsObj.FuelTypeID == item.FuelTypeID)
                                    {

                                         
                                                 <option value="@item.FuelTypeID" selected>@item.FuelType</option>
                                    }
                                    else
                                    {
                                              <option value="@item.FuelTypeID">@item.FuelType</option>
                                    }
                                }
                            }

                        }

                    </select>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="TransmissionID">Transmission Type </label>

                    <select id="TransmissionID" name="TransmissionID" class="form-control" required>

                        @{
                            if (Model != null && Model.TransmissionTypesList != null && Model.TransmissionTypesList.Count > 0)
                            {
                                foreach (var item in Model.TransmissionTypesList)
                                {
                                          

                                                      if (Model != null && Model.productsObj != null && Model.productsObj.TransmissionID == item.TransmissionID)
                                    {

                                         
                                              

                                                       <option value="@item.TransmissionID" selected> @item.TransmissionType</option>
                                    }
                                    else
                                    {
                                                 <option value="@item.TransmissionID">@item.TransmissionType</option>
                                    }
                                }
                            }

                        }

                    </select>

                </div>


                <!--/new fields addition ends here-->




                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="IsActive">Status</label>

                    <select name="IsActive" id="IsActive" class="form-control" required>

                        @{
                            if (ProductStatus != null && ProductStatus.Count > 0)
                            {
                                foreach (var item in ProductStatus)
                                {
                                    if (Model != null && Model.productsObj != null && Model.productsObj.IsActive == Convert.ToBoolean(item.Value))
                                    {
                                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            }
                        }

                    </select>

                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 col-12 form-group">
                    <label for="Description">Description</label>
                    <textarea placeholder="Product's descripiton" class="form-control" id="Description" name="Description" autocomplete="off" required>
                        @(Model!=null && Model.productsObj!=null && Model.productsObj.Description!=null ? Model.productsObj.Description.Trim() : "")
                    </textarea>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="ShowOnHomePage">Show on home page?</label>

                    <select name="ShowOnHomePage" id="ShowOnHomePage" class="form-control" required>


                        @{
                            if (ShowOnHomePage != null && ShowOnHomePage.Count > 0)
                            {
                                foreach (var item in ShowOnHomePage)
                                {
                                                <option value="@item.Value">@item.Text</option>
                                }
                            }

                        }
                    </select>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="Price">Price ($)</label>
                    <input type="number" value="@(Model!=null && Model.productsObj!=null ? Model.productsObj.Price : 0)" autocomplete="off" min="0" max="10000000" placeholder="Price" class="form-control" id="Price" name="Price">
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-12 form-group">
                    <label for="DisplaySeqNo">Display Seq No</label>
                    <input type="number" value="@(Model!=null && Model.productsObj!=null ? Model.productsObj.DisplaySeqNo : 0)" autocomplete="off" min="1" max="1000" placeholder="Display Seq No" class="form-control" id="DisplaySeqNo" name="DisplaySeqNo">
                </div>


                <div class="col-lg-6 col-12 form-group mg-t-30">
                    <label class="text-dark-medium">Upload Product Image</label>
                    <input type="file" class="form-control-file" id="photoFile" name="photoFile">
                </div>


                @{
                    if (Model != null && Model.productsObj != null && Model.productsObj.ProductImage != null)
                    {


                        string bitString = BitConverter.ToString(Model.productsObj.ProductImage);


                        if (bitString == "00" || bitString == "")
                        {
                                        <td>No Image</td>
                        }
                        else
                        {
                            string imageBase64Data = Convert.ToBase64String(Model.productsObj.ProductImage);
                            string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);

                                        <div class="col-lg-3 col-3 form-group mg-t-30">
                                            <div id="profile-pic-show-div">
                                                <img style=" height:100px !important; width: 90px !important;" class="img-fluid m-1" src="@imageDataURL">
                                            </div>
                                        </div>
                        }


                    }
                    else
                    {
                                <div class="col-lg-3 col-3 form-group mg-t-30">
                                    <div id="profile-pic-show-div">
                                    </div>
                                </div>
                    }
                }


                <div class="col-12 form-group mg-t-8">
                    <button type="submit" onclick="UpdateRecord();" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Update</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>

        </div>
    </div>

</form>


@section  Scripts{

<script>


    function UpdateRecord(){

             //$("#insert_data_modal").submit(function (e) {
             //     e.preventDefault();
             // });

              if (!$("#update_data_modal").valid()) {
                     event.preventDefault();
                  return false;
              }

              $("#update_data_modal").submit();
       }



         var base64Array = [];
       var attach = [];
          $('#photoFile').on('change', function () {

           base64Array = [];
           attach = [];
          // $('#remove').html(''); //clear html of output element
           var count = 0;
           var data = $(this)[0].files; //this file data

           $.each(data, function (index, file) {
               if (/(\.|\/)(gif|jpe?g|png)$/i.test(file.type)) { //check supported file type
                   var fRead = new FileReader(); //new filereader
                   fRead.onload = (function (file) { //trigger function on successful read
                       return function (e) {
                           var img = $('<img style="border-radius: 50%; height:100px !important; width: 90px !important;"  class="img-fluid m-1" />').attr('src', e.target.result).wrap("<div class='new'></div>"); //create image element
                           $('#profile-pic-show-div').html(img); //append image to output element

                       };
                   })(file);
                   fRead.readAsDataURL(file); //URL representing the file's data.
               }

           });
       });


    function GetModelByMakeID() {

            let MakeID= $('#MakeID').val();

           //--first empty the AccountID dropDown
           //let emptyHtml = '<option value="">select account</option>';
           //$("#AccountID").html(emptyHtml);


           if (!checkIfStringIsEmtpy(MakeID) || MakeID == 0 ) {
               event.preventDefault();
              // toastr.error('Please select make.');
               return false;
           }

           $.ajax({
               type: "GET",
               url: '@Url.Action("GetModelByMakeID", "AdminProducts")',
               data: { MakeID: MakeID },
               success: function (data) {
                   console.log(data);
                   let s = '';

                   for (var i = 0; i < data.modellist.length; i++) {
                       s += '<option value="' + data.modellist[i].modelID + '">' + data.modellist[i].modelName + '</option>';
                   }
                   $("#ModelID").html(s);

               },
               error: function (xhr, ajaxOptions, thrownError) {
                   toastr.error('An error occured. Please try again.');
               }
           });
       }
</script>
}